.titleModalcss{
    margin: 10px;
    font-size: 18px;
    font-family: "Bosch_Sans_Bold";
    color: #ED0007;
    display: flex;
    align-items: center;
    justify-content: center;
}

.messageModalcss{
    margin: 10px;
    font-size: 16px;
    font-family: "Bosch_Sans_Regular";
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
}

.pi{
    color: #ED0007;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}